.p1 {
    text-decoration: underline;
    font-weight: bolder;
}
ul{
    margin-left: 15px;
    padding: 0;
}
.p2{
    text-decoration: underline;
    font-weight: bolder;
}
.p3{
    text-decoration: underline;
    font-weight: bolder;
}