$main_size: 16px;

$open_sans: 'Open Sans Regular';
$gotham: 'Gotham-Pro Black';
$lato: 'Lato Regular';
$lato_bold: 'Lato Bold';
$lato_light: 'Lato Light';

$hover_and_bg_color: #ffbb42;

$main_color_blue: #709dca;
$main_color_orange: #ffc155;
$main_color_black: #394b50;
$main_color_white: #ffffff;
$main_color_gray: #868686;
$main_color_gray_light: #b5bbc1;


$input_icon_color: #6e6e6e;
$input_icon_padding: 41px;
$input_font_size: 10px;
$input_line_height: 1;
$input_padding: 18px;
$input_text_color: #a9a9a9;

$slider_dots_color:#dedfe0;
$slider_active_dots_color: #1ca8dd;

$icon_color:#709dca;
$icon_active_color: #f6772c;

$gray_description_color: #7b7b7b;

$about-us_image_size: 50%;

$button_border_color: #e7ad48;

$section_cards_color: #e7edf3;
$section_cards_border_color: #ccd5df;
$card_main_color: #818b95;
$card_list_border_color: #e2e9f0;
$card_list_text_color: #bac0c5;
$card_hover_border_color: #8eb8e2;
$card_hover_list-item_color: #c2e1ff;
