$main_size: 16px;

$open_sans: 'Open Sans Regular';
$gotham: 'Gotham-Pro Black';
$lato: 'Lato Regular';
$lato_bold: 'Lato Bold';

$main_color_blue: #709dca;
$main_color_orange: #ffc155;
$main_color_black: #394b50;
$main_color_white: #ffffff;
$main_color_gray: #868686;
$main_color_gray_light: #b5bbc1;

