@import "./variables";
@import "./fonts";
@import "./functions";
@import "./mixins";

html {
    font-size: $main_size;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: $open-sans;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.link {
    text-decoration: none;
}

.icon {
    fill:inherit;
    stroke: inherit;
    stroke-width: inherit;
    width: 15px;
    height: 15px;

    &_l {
        width: 45px;
        height: 45px;
    }

    &_xl {
        width: 65px;
        height: 65px;
    }
}

.input {
    position: relative;
}


// Page header 


.logo {
    width: 50px;
    height: 48px;
    background: url('../image/logo.png') no-repeat;
}

.page-header {
    background-color:$main_color_white;

    &__wrapper{
    display: flex;
    align-items: center;
    justify-content: space-between;
    }

    &__logo{
        margin: 22px 0;
    }

    @include scale(900) {
        &__logo {
            margin-right: 25px;
        }
    }
    
}

.nav-menu {
    $self: &;

    display: flex;
    align-content: center;
    flex-wrap: wrap;
    list-style-type: none;

    &_header {
       #{$self} {
           &__link:hover {
               color: $main_color_white;
               background-color: $hover_and_bg_color;
           }
       }
    }

    &__item {
        display: inline-flex;
    }

    &__link {
        font: {
            family: $lato;
            size: get_rem(10px);
        }
        line-height: 1;
        border-radius: 3px;
        padding: 12px 25px;
        color: $main_color_gray;
        text-transform: uppercase;
        white-space: nowrap;
    }

    @include scale(900) {
        &__link {
            padding: 6px 12px;
        }
    }
}


// Boost


.request {
    background-color: $main_color_blue;
    
    &__wrapper {
    padding-top: get_vw_size(110);
    padding-bottom: get_vw_size(347);
    position: relative;
    }

    &__heading {
        padding-bottom: get_vw_size(33);
    }

    &__form {
        padding: 0 get_vw_size(41) ;
    }

    &__slider {
        position: absolute;
        left:50%;
        transform: translateX(-50%);
        bottom: -(get_vw_size(63));
    }
}

.heading {
    $self: &;

    line-height: 1;
    text-align: center;
    color: $main_color_black;

    &_main {
        #{$self}__title {
            font: {
                family: $gotham;
                size: get_rem(35px);
            }
        }
        #{$self}__subtitle {
            font: {
                family: $open_sans;
                size: get_rem(16px);
            }
        }
    }

    &_cards {
        #{$self}__subtitle {
            font: {
                family: $lato_light;
                size: get_rem(16px);
                weight: 300;
            }
                color: #75888d;
        }
    }

    &_white {
        color: $main_color_white;
    }

    &_align {
        &_left {
            text-align: left;
        }
    }

    &__title {
        font: {
            family: $gotham;
            size: get_rem(30px);
            weight: 400;
        }
        margin-bottom: 2px;
        letter-spacing: -0.88px;
        text-transform: uppercase;
    }

    &__subtitle {
        font: {
            family: $open_sans;
            size: get_rem(16px);
            weight: 300;
        }
    }

    &_mechanism {
        #{$self}__subtitle {
            font: {
                family: $lato_light;
                size: get_rem(16px);
                weight: 300;
            }
        }
    }
}

.form {
    display: flex;
    align-items: center;

    &__wrapper {
        width: 100%;
        display: flex;
        align-items: center;
    }

    &__item {
        width: 26.6603%;
        position: relative;
        
        &:not(:last-child) {
            padding-right: 10px;
        }

        &_lite {
            width: 20.0189%;
        }
        
    }

    &__input {
        width: 100%;
        outline: 0;
        border: 0;
        border-radius: 3px;
        font: 10px/1  $open_sans;
        padding-left: 42px;
        color: $input_text_color;
        padding: $input_padding $input_padding $input_padding $input_icon_padding;
        height: ($input_padding * 2 + $input_font_size * $input_line_height);

        &::placeholder {
            color: $input_text_color;
        }

        &_submit {
            cursor: pointer;
            background-color: $hover_and_bg_color;
            padding: $input_padding;
            text-transform: uppercase;
            color: $main_color_white;
            font-size: 12px;
            text-align: center;
        }

    }

    &__icon {
        z-index: 1;
        position: absolute;
        top:50%;
        left: ($input_icon_padding / 2);
        transform: translate(-50%, -50%);
        fill: $input_icon_color;
    }

    @include scale(768) {

        &__wrapper{
        flex-wrap: wrap;
        }

        &__item {
            width: 50%;
            margin-bottom: 10px;
            
            &:nth-child(even) {
                padding-right: 10px;
            }
        }
    }

    @include scale(468) {

        &__wrapper{
        flex-direction: column;
        }

        &__item {
            width: 100%;
            margin-bottom: 10px;

            &:nth-child(n+1) {
                padding-right: 0;
            }
        }
    }
}


//  Slider

.slider {

    &__input {
        display: none;
    }
    &__container {
        position: relative;
        max-width: get_vw_size(647);
        min-width: get_vw_size(647);
        min-height: get_vw_size(343);
        background: url(../image/laptop.png) no-repeat;
        background-size: cover;
    }

    &__image {
        position: absolute;
        top: get_vw_size(18);
        left: get_vw_size(102);
        width: 100%;
        max-width: get_vw_size(445);
    }

    &__item {
        width: 100%;
        height: 100%;
        z-index: -1;
        position: absolute;
    }

    &__nav {
        max-width: get_vw_size(647);
        padding: get_vw_size(24);
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 100%;
        left: 50%;
        transform: translateX(-50%);
        

        &-dots {
            width: 12px;
            height: 12px;
            border: 2px solid $slider_dots_color;
            border-radius: 50%;
            transition: .4s;
            cursor: pointer;
            margin: 0 5px;
        }
    }

    &__direction {
        $direction: &;

        cursor: pointer;
        position: absolute;
        top:0;
        bottom: 0;
        width: get_vw_size(80);

        &-icon {
            position: absolute;
            bottom: get_vw_size(190);
            fill: $main_color_white;
            height: 15px;
            width: 15px;
        }

        &_left {
            left:0;

            #{$direction}-icon {
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &_right {
            right:0;

            #{$direction}-icon {
                right: 50%;
                transform: translateX(50%);
            }
        }
    }

    #i1:checked ~ #one,
    #i2:checked ~ #two,
    #i3:checked ~ #three, {
        z-index: 9;
        animation: scroll 0.5s ease-in-out;
    }

    #i1:checked ~ .slider__nav #dot1 {border: 2px solid $slider_active_dots_color;}
    #i2:checked ~ .slider__nav #dot2 {border: 2px solid $slider_active_dots_color;}
    #i3:checked ~ .slider__nav #dot3 {border: 2px solid $slider_active_dots_color;}

    @keyframes scroll {
        0% {opacity: .4;}
        100% {opacity: 1;}
    }
}


// Service


.services {
    &__wrapper {
        padding-top: get_vw_size(203);
        padding-bottom: get_vw_size(115);
    }

    &__heading {
        padding-bottom: get_vw_size(90);
    }

    &__box {
        display: flex;
        flex-wrap: wrap;

        :nth-child(n+3) {
            margin-top: get_vw_size(79);
        }

        &-item {
            max-width: 50%; 
        }
    }

    @include scale (525) {
        &__box {
            flex-direction: column;
            margin-top: get_vw_size(79);

            &-item {
                max-width: 100%;
            }
        }
    }
}

.service {
    position: relative;
    padding-left: 82px;
    padding-right: get_vw_size(77);

    &__icon {
        fill: $icon_color;
        position: absolute;
        top: 0;
        left:0;

        :hover {
            fill: $icon_active_color; 
        }
    }

    &__heading {
        font: 12px/1 $lato;
        font-weight: 700;
        text-transform: uppercase; 
        margin-bottom: 21px;
    }

    &__description {
        font: 11px/18px $lato;
        color: $gray_description_color;
    }

    @include scale(768) {
        padding-left: 65px;
    }
}


// About us

.about-us {
    position: relative;
    background-color: $main_color_orange;

    &__image {
        background: url(../image/work_place.jpg) no-repeat center center;
        background-size: cover;
        position: absolute;
        width: $about-us_image_size;
        min-height: 100%;
        top: 0;
        left:0;
    }

    &__heading {
        padding-top: get_vw_size(164);
        padding-bottom: get_vw_size(174);
        margin-left: $about-us_image_size;
        padding-left: get_vw_size(80);
        margin-right: get_vw_size(265);
    }

    &__text {
        margin-top: 28px;
        font-size: 13px;
        line-height: 24px;
        color: $main_color_white;
    }

    &__link {
        margin-top: 33px;
        display: inline-block;
    }

    @include scale(800) {
        &__image {
            width: 100%;
            z-index:1;
        }

        &__heading {
            position: relative;
            z-index: 2;
            background-color: rgba(0,0,0,0.4);
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.button {
    color: $main_color_white;
    cursor: pointer;
    display: inline-block;
    font: 10px/1 $lato;
    font-weight: 400;
    text-transform: uppercase;
    text-decoration: none;
    padding: 17px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $hover_and_bg_color;

    &:hover {
        background-color: $main_color_white;
        color: $button_border_color;
        border: 1px solid $button_border_color;
    }
}


//    Price


.cards {
    background-color: $section_cards_color;

    &__wrapper {
        padding-top: get_vw_size(137);
        padding-bottom: get_vw_size(194);
    }

    &__heading {
        margin-bottom: get_vw_size(79);
    }

    &__container {
        display: flex;
        align-items: center;
    }

    &__item {
        flex-grow: 1;
        flex-shrink: 1;
    }

    @include scale(525) {
        &__container {
            flex-direction: column;
            align-items: stretch;
        }

        &__item {
            margin-top: 20px;
        }

        &__wrapper {
            padding-bottom: get_vw_size(150);
        }
    }
}

.card {
    $self: &;

    padding: get_vw_size(30) 0;

    

    &__wrapper {
        position: relative;
        z-index: 1;
        background: $main_color_white;
        text-align: center;
        border: 1px solid $section_cards_border_color;
        border-radius: 4px;
        padding: get_vw_size(57) get_vw_size(31) get_vw_size(48);
    }

    &__heading {
        margin-bottom: get_vw_size(30);
        color: $card_main_color;
        font: 18px/1 $lato_light;
        font-weight: 300;
        text-transform: uppercase;
    }

    &__price {
        margin-bottom: get_vw_size(33);

        &-currency,
        &-value {
            display: inline-block;
            font-family: $lato_bold;
            color: $hover_and_bg_color;
        }

        &-currency {
            vertical-align: top;
            font-size: 30px;
            letter-spacing: -6px;
        }

        &-value {
            font-size: 60px;
        }

        &-monthly {
            font: 12px/1 $lato_light;
            text-transform: uppercase;
            color: $card_main_color;

        }
    }

    &__list {
        margin-bottom: get_vw_size(23);

        &-item {
            font: 10px/1 $lato;
            padding: 15px;
            border-top: 1px solid $card_list_border_color;
            color: $card_list_text_color;
            text-transform: uppercase;
        }
    }


    &:hover {

        padding:0;

        #{$self}__wrapper{
            transition: all 200ms ease-in;
            background: $main_color_blue;
            z-index: 2;
            padding: get_vw_size(87) get_vw_size(31) get_vw_size(78);
        }

        
        #{$self}__heading,
        #{$self}__price-currency,
        #{$self}__price-value,
        #{$self}__price-monthly {
            color: $main_color_white;
        }

        #{$self}__list-item {
            color:$card_hover_list-item_color;
            border-color: $card_hover_border_color;
        }

    }

    @include scale(525) {
        &:hover {
            padding: 0;
    
            #{$self}__wrapper{
                transition: all 0ms ease-in;
                padding: get_vw_size(87) get_vw_size(31) get_vw_size(78);
            }
        }
    }
}


// Mechanism


.mechanism {
    &__wrapper {
        padding-top: get_vw_size(155);
        padding-bottom: get_vw_size(149);
    } 

    &__heading {
        padding-bottom: get_vw_size(72);
    }

    &__link {
        display:block;
        text-align: center;
    }

    &__button {
        padding: 17px 27px;
    }
}

.steps {
    &__box {
        display: flex;
        align-items: center;
        padding-bottom: get_vw_size(91);
    }
}

.step {
    display:flex;
    flex-direction: column;
    align-items: center;
    position: relative;

    &:not(:first-child):not(:last-child) {
        padding-left: 44px;
        padding-right: 44px;
    }

    &:first-child {
        padding-left: 28px;
        padding-right: 44px;
    }

    &:last-child {
        padding-left: 44px;
        padding-right: 28px;
    }

    &__icon {
        fill: $main_color_blue;
        margin: get_vw_size(40) get_vw_size(75) get_vw_size(102);
    }

    &__heading {
        text-align: center;
        padding-bottom: 28px;
        font: 20px/1 $lato-bold;
        text-transform: uppercase;
    }

    &__description {
        font: 13px/22px $open-sans;
        color: $gray_description_color;
        text-align: center;
    }
}

.top-arrow {
    &:after {
        content: url(./../image/arrow_1.png);
        position: absolute;
        right: -50%;
        transform: translateX(-60%);
        display: block;
    }
}

.bottom-arrow {
    &:after {
        content: url(./../image/arrow_2.png);
        position: absolute;
        bottom:50%;
        right: -50%;
        transform: translateX(-60%);
        
    }
}


// Testimonials 


.testimonials {
    background-color: $main_color_orange;

    &__wrapper{
        padding-top: get_vw_size(141);
        padding-bottom: get_vw_size(160);
    }

    &__heading {
        padding-bottom: get_vw_size(58);
    }

    &__box{
        display: flex;
        flex-wrap: wrap;

        :nth-child(n+3) {
            margin-top: 20px;
        }
        :nth-child(2n-1) {
            margin-right: 20px;
        }
    
        :nth-child(2n) {
            margin-left: 20px;
        }

        &-item {
            max-width: 48%;
        }
    }
}

.testimonial {
    position: relative;
    padding: get_vw_size(43) get_vw_size(43) get_vw_size(51) 182px;
    background-color: $main_color_white;

    &__avatar {
        position: absolute;
        top:get_vw_size(43);
        left:30px;
    }

    &__comment {
        font: 13px/22px $open-sans;
        color: $gray_description_color;
        padding-bottom: 29px;
    }
    
}



