@font-face {
    font-family: $gotham_bold;
    src: url('./../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $centro;
    src: url('./../fonts/PFCentroSansPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: $centro_thin;
    src: url('./../fonts/PFCentroSansPro-Thin.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}