$main_size: 16px;

$gotham_bold: 'GothamPro-Bold';
$encore: 'PFEncoreSansPro-Regular';
$encore_light: 'PFEncoreSansPro-Light';
$encore_bold: 'PFEncoreSansPro-Bold';
$encore_thin: 'PFEncoreSansPro-Thin';

$logo_color: #fc645f;
$decorate_color: #fc635e;
$heading_color:#565656;
$subtitle_color: #adadad;

$hexagon_icon_border_color: #fe8682;
$section_text_color: #9e9898;
$section_background_color: #f2f2f2;