@import "./variables";
@import "./fonts";
@import "./functions";
@import "./mixins";

.advertising {
    padding: get_vw_size(134) 0 17px 0;

    &__content {
        display: flex;
        margin-bottom: get_vw_size(105);

        @include scale(768) {
            position: relative;

            &:after {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: url(./../img/advertising_img.jpg) no-repeat right center;
                background-size: 100%;
            }
        }
    }

    &__desc {
        width: 45%;
        padding: 30px 0 get_vw_size(40) get_vw_size(46);
        text-align: right;

        @include scale(768) {
            width: 100%;
            padding-right: 0;
            text-align: center;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 3;
        }
    }

    &__title {
        margin-bottom: 25px;
        margin-right: 20px;

        @include scale(768) {
            color: $decorate_color;
        }
    }

    &__text {
        margin-bottom: 35px;

        @include scale(768) {
            color: #fff;
        }
    }

    &__image {
        width: 100%;
        max-width: 100%;

        &-wrapper {
            width: 55%;
            display: flex;
            align-items: center;

            @include scale(768) {
                width: 0;
            }
        }
    }
}