@import "./variables";
@import "./fonts";
@import "./functions";
@import "./mixins";

.process {
    &__wrapper {
        text-align: center;
        padding-top: get_vw_size(51);
        padding-bottom: 17px;
    }

    &__heading {
        margin-bottom: get_vw_size(57);

        @include scale(768) {
            margin-bottom: 30px;
        }
    }
}

.svg {
    &__wrapper {
        margin-bottom: 15px;
    }
}

.txt1 {
    padding-bottom: 10px;
    font: get_rem(28px)/1 $encore;
    fill: $heading_color;
    text-decoration: underline;
} 
.txt2 {
    font: get_rem(17px)/1px $encore_thin;
    fill: $subtitle_color;
    letter-spacing: -0.08px;
} 
tspan {
    fill: $decorate_color;
    font: get_rem(28)/1 $encore;
} 