@import "./variables";
@import "./fonts";
@import "./functions";
@import "./mixins";



* {
    margin:0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
}

body {
    font: $main_size $encore;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

img {
    width: 100%;
}

.link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
    width: 15px;
    height: 15px;

    &_l {
        width: 22px;
        height: 22px;
    }

    &_xl {
        width: 39px;
        height: 39px;
    }
}

@import "./common.scss";
@import "./header.scss";
@import "./benefits.scss";
@import "./expand.scss";
@import "./process.scss";
@import "./product.scss";
@import "./advertising.scss";
@import "./marketing.scss";
@import "./portfolio.scss";
@import "./team.scss";
@import "./teamMore.scss";
@import "./map.scss";
@import "./footer.scss";



