@import "./variables";
@import "./fonts";
@import "./functions";
@import "./mixins";



* {
    margin:0;
    padding: 0;
    outline: none;
}

body {
    font: $main_size $encore;
    box-sizing: border-box;
}

.link {
    text-decoration: none;
}

li {
    list-style-type: none;
}

.uppercase {
    text-transform: uppercase;
}

.container {
    max-width: 970px;
    margin: 0 auto;
    padding: 0 15px;
}

.icon {
    fill: inherit;
    stroke: inherit;
    stroke-width: inherit;
    width: 15px;
    height: 15px;

    &_l {
        width: 22px;
        height: 22px;
    }

    &_xl {
        width: 39px;
        height: 39px;
    }
}

.button-scroll {
    $self: &;

    &_transparent {
        @include button_scroll;

        #{$self}__icon {
            cursor: pointer;
            fill: $decorate_color;
        }

        &:hover {
            background: $decorate_color;
            transition: all 0.45s;

            #{$self}__icon {
                fill: #fff;
            }
        }
    }

   

    &_active {
        @include button_scroll;
        background: $decorate_color;
    
        #{$self}__icon {
            cursor: pointer;
            fill: #fff;
        }

        &:hover {
            background: #fff;
            border-color: transparent;
            transition: all 0.45s;

            #{$self}__icon {
                fill: $decorate_color;
            }
        }
    }
}


@import "./header.scss";
@import "./benefits.scss";
@import "./expand.scss";



