section.advertising
    .advertising__wrapper.container
        .advertising__content
            .advertising__image-wrapper
                img.advertising__image(src='./../img/advertising_img.jpg', alt='device image')
            .advertising__desc
                .advertising__title.content__title_right advertising
                .advertising__text.content__text This is Photoshop's version  of Lorem 
                    |   Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                    |   Aenean sollicitudin, lorem quis bibendum auctor, 
                    |   nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                    |   Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |   Morbi accumsan ipsum velit. Nam
                .advertising__button.button_m More details
        .advertising__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")