section.benefits
    .benefits__wrapper.container
        .benefits__heading
            .heading_usual
                .heading__title.uppercase
                    | What can
                    .span.heading_active you receive?
                .heading__subtitle Daisy is sagittis sem nibh id elit. 
                    |   Duis sed odio sit amet nibh vulputate cursus a 
                    |   sit amet mauris. Morbi accumsan ipsum
        .benefits__items
            article.benefits__item.item
                .hexagon
                    .hexagon__item_inner
                    .hexagon__content
                        svg.hexagon__icon.icon_xl
                            use(xlink:href='svg/sprite.svg#rocket')
                .item__title.uppercase Clents
                .item__info This is Photoshop's version  of Lorem Ipsum. 
                    |   Proin gravida nibh vel velit auctor aliquet. Aenean
            article.benefits__item.item
                .hexagon
                    .hexagon__item_inner
                    .hexagon__content
                        svg.hexagon__icon.icon_xl
                            use(xlink:href='svg/sprite.svg#web-design')
                .item__title.uppercase branding
                .item__info This is Photoshop's version  of Lorem Ipsum. 
                    |   Proin gravida nibh vel velit auctor aliquet. Aenean
            article.benefits__item.item
                .hexagon
                    .hexagon__item_inner
                    .hexagon__content
                        svg.hexagon__icon.icon_xl
                            use(xlink:href='svg/sprite.svg#diagram')
                .item__title.uppercase marketing
                .item__info This is Photoshop's version  of Lorem Ipsum. 
                    |   Proin gravida nibh vel velit auctor aliquet. Aenean
            article.benefits__item.item
                .hexagon
                    .hexagon__item_inner
                    .hexagon__content
                        svg.hexagon__icon.icon_xl
                            use(xlink:href='svg/sprite.svg#speaker')
                .item__title.uppercase adv.
                .item__info This is Photoshop's version  of Lorem Ipsum. 
                    |   Proin gravida nibh vel velit auctor aliquet. Aenean
        .benefits__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")
        
        

