section.expand
    .expand__wrapper.container
        main.expand__content
            .expand__heading
                .heading_main-secondary
                    .heading__title.uppercase
                        span.heading_active Expand 
                        |   your business
            .expand__button 
                a.expand__link.link Join Us
        .expand__scroll.button-scroll_active
            svg.button-scroll__icon.icon
                use(xlink:href="svg/sprite.svg#arrow-down")