header.page-header
    .page-header__wrapper.container
        header.page-header__header 
            .page-header__logo
                .logo 
                span.logo__text Daisy
            nav.page-header__nav.nav.uppercase
                ul.nav-menu
                    li.nav-menu__item
                        a.nav-menu__link.link(href="#") About
                    li.nav-menu__item
                        a.nav-menu__link.link(href="#") Portfolio
                    li.nav-menu__item
                        a.nav-menu__link.link(href="#")  Services
                    li.nav-menu__item
                        a.nav-menu__link.link(href="#") Contact
            .burger
                .burger-toggle
        main.page-header__heading
            .heading_main
                .heading__title.uppercase
                    span.heading_active Clients 
                    | in your business
                .heading__subtitle  Your clients on the internet. Learn how to receive them.
        .page-header__button-wrapper
            .page-header__button 
                a.page-header__link.link I want clients
            svg.page-header__icon.icon_xl
                use(xlink:href="svg/sprite.svg#mouse")
            .cursive 
        .page-header__scroll
            .button-scroll_active
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")

             
                
        
            
            

