section.location
    .location__wrapper
        script(type='text/javascript', charset='utf-8', async='', src='https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ac835e76d3ff39fad6cec48ac4e4b67fffe5f761cb47baa59fc51034dbe558654&height=338&lang=ru_RU&scroll=true')

