section.marketing
    .marketing__wrapper.container
        .marketing__content
            .marketing__desc
                .marketing__title.content__title_left marketing kit
                .marketing__text.content__text This is Photoshop's version  of Lorem 
                    |   Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                    |   Aenean sollicitudin, lorem quis bibendum auctor, 
                    |   nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                    |   Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |   Morbi accumsan ipsum velit. Nam
                .marketing__button.button_m More details
            .marketing__image-wrapper
                img.marketing__image(src='./../img/magazine.png', alt='magazine image')
        .marketing__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")

