section.process
    .process__wrapper.container
        .process__heading.heading_usual
            .heading__title.uppercase
                |   Our
                .span.heading_active process
            .heading__subtitle Daisy is sagittis sem nibh id elit. 
                |   Duis sed odio sit amet nibh vulputate cursus a 
                |   sit amet mauris. Morbi accumsan ipsum
        .svg__wrapper
            svg(version='1.1', xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', width='100%', height='100%', viewBox='0 0 801 549')
                defs
                    pattern#pattern(x='20px', y='-215px', width='341px', height='382px', patternUnits='userSpaceOnUse')
                        image(xlink:href='./../img/steps.jpg', width='355px', height='400px')
                    g#crc1
                        circle(r='23', fill='#FC635E')
                        svg(width="28px" height="28px" x='-15px', y='-15px', fill='white', font-size='25')  
                            use(xlink:href="svg/sprite.svg#light-bulb")
                    g#crc2
                        circle(r='23', fill='#FC635E')
                        svg(width="28px" height="28px" x='-15px', y='-13px', fill='white', font-size='25')  
                            use(xlink:href="svg/sprite.svg#diagram")
                    g#crc3
                        circle(r='23', fill='#FC635E')
                        svg(width="28px" height="28px" x='-15px', y='-15px', fill='white', font-size='25')  
                            use(xlink:href="svg/sprite.svg#gears-head")
                    g#crc4
                        circle(r='23', fill='#FC635E')
                        svg(width="28px" height="28px" x='-15px', y='-15px', fill='white', font-size='25')  
                            use(xlink:href="svg/sprite.svg#like")
                    g#crc5
                        circle(r='23', fill='#FC635E')
                        svg(width="28px" height="28px" x='-15px', y='-13px', fill='white', font-size='25')  
                            use(xlink:href="svg/sprite.svg#rocket")
                g(fill='#FEFEFE', stroke='gray', stroke-width='2')
                    path#hex_1.h1(d="m 18.774764,150.19811 -0.323703,98.08196 85.781249,48.87913 86.75236,-49.20283 -1.29481,-99.70047 -84.81014,-49.202834 z")
                    path#hex_2.h1(d="m 284.85849,200.69575 -1.29481,101.64269 87.72347,48.55543 85.13384,-50.82135 -0.3237,-100.02417 -84.48644,-47.90802 z")
                    path#hex_3.h2(fill-opacity='0.6', d="M 540.58373,148.9033 669.41745,77.041274 799.54599,150.84552 v 148.2559 L 670.71226,371.61085 539.28892,299.74882 Z")
                    path.h2(fill-opacity='0.9', style='fill:url(#pattern);', d="M 190.98467,247.95637 59.885024,323.05542 60.856132,473.90094 190.33726,548.02889 321.76061,473.25354 V 322.73172 L 190.98467,247.95637")
                    path.h1(d="M 371.61085,152.14033 V 51.792453 L 455.77358,2.5896226 540.58373,51.145047 V 148.9033 l -84.48644,51.14505 z")
                path#progress(fill='none', stroke-width='4', stroke='red', stroke-dashoffset='1975', stroke-dasharray='1975', d="m 18.774764,150.19811 86.104956,-51.145044 84.81014,49.202834 1.29481,99.70047 92.57901,54.38207 1.29481,-101.64269 86.75236,-48.55542 V 51.792453 L 455.77358,2.5896226 540.58373,51.145047 V 148.9033 L 669.41745,77.041274 799.54599,150.84552 v 148.2559 l -128.83373,72.50943")
                    animate(attributeName='stroke-dashoffset', dur='10s', values='1975;0', fill='freeze')
                text.txt1(x='66', y='159')
                    | STEP
                    tspan(dx='0') 1 
                text.txt2(x='35', y='191')  This is Photoshop's
                text.txt2(x='35', y='209')  version  of Lorem 
                text.txt2(x='35', y='228')  Ipsum. Proin gravida
                text.txt1(x='328', y='216')
                    | STEP 
                    tspan(dx='0') 2 
                text.txt2(x='302', y='248')  This is Photoshop's
                text.txt2(x='302', y='266')  version  of Lorem 
                text.txt2(x='302', y='284')  Ipsum. Proin gravida
                text.txt1(x='419', y='64')
                    | STEP 
                    tspan(dx='0') 3 
                text.txt2(x='387', y='90')  This is Photoshop's
                text.txt2(x='387', y='109')  version  of Lorem 
                text.txt2(x='387', y='128')  Ipsum. Proin gravida
                text.txt1(x='631', y='153')
                    | STEP 
                    tspan(dx='0') 4 
                text.txt2(x='567', y='188')  This is Photoshop's version  of
                text.txt2(x='567', y='207')  Lorem Ipsum. Proin gravida 
                text.txt2(x='567', y='226')  nibh vel velit auctor aliquet.
                
                use(xlink:href='#crc1', x='23', y='149')
                use(xlink:href='#crc2', x='285', y='198')
                use(xlink:href='#crc3', x='370', y='51')
                use(xlink:href='#crc4', x='541', y='145')
                use(xlink:href='#crc5', x='668', y='370')
        .process__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")










                    
        