section.product
    .product__wrapper.container
        .product__heading.heading_usual
            .heading__title.uppercase 
                | What do
                .span.heading_active we do
        .product__content
            .product__desc
                .product__title.content__title_left Landing Pages
                .product__text.content__text This is Photoshop's version  of Lorem 
                    |   Ipsum. Proin gravida nibh vel velit auctor aliquet. 
                    |   Aenean sollicitudin, lorem quis bibendum auctor, 
                    |   nisi elit consequat ipsum, nec sagittis sem nibh id elit. 
                    |   Duis sed odio sit amet nibh vulputate cursus a sit amet mauris. 
                    |   Morbi accumsan ipsum velit. Nam
                .product__button.button_m More details
            .product__image-wrapper
                img.product__image(src='./../img/image_product.png', alt='device image')
        .product__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")
                
                
