section.team
    .team__wrapper.container
        .team__heading.heading_usual
            .heading__title.uppercase
                |   Our
                .span.heading_active Team
        .team__cards
            article.team__card.card
                .card__avatar
                    img(src="./../../img/team_1.png", alt="")
                .card__info
                    span.card__info_active Tomothy 
                    |   Bowman
                .card__prof Marketing
                .card__socials
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#twitter')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#facebook')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#linkedin')
            article.team__card.card
                .card__avatar
                    img(src="./../../img/team_2.png", alt="")
                .card__info
                    span.card__info_active Steve
                    |   Tracy
                .card__prof CEO
                .card__socials
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#twitter')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#facebook')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#linkedin')
            article.team__card.card
                .card__avatar
                    img(src="./../../img/team_3.png", alt="")
                .card__info
                    span.card__info_active  Hellen 
                    |   Johns
                .card__prof Clients
                .card__socials
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#twitter')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#facebook')
                    a(href="#")
                        svg.card__icon.icon_xl
                                use(xlink:href='svg/sprite.svg#linkedin')
        .team__scroll 
            .button-scroll_transparent
                svg.button-scroll__icon.icon
                    use(xlink:href="svg/sprite.svg#arrow-down")