section.teamMore
    .teamMore__wrapper.container
        .hexagon.hexagon_l
            .hexagon__item_inner.hexagon__item_inner_l
            .hexagon__content
               svg.hexagon__icon.icon_xl
                    use(xlink:href='svg/sprite.svg#quotes')