extends ./../partials/layout.pug

block content
    include ./../partials/benefits.pug
    include ./../partials/expand.pug
    include ./../partials/process.pug
    include ./../partials/product.pug
    include ./../partials/advertising.pug
    include ./../partials/marketing.pug
    include ./../partials/portfolio.pug
    include ./../partials/team.pug
    include ./../partials/teamMore.pug
    include ./../partials/map.pug
    